In [106]:
import numpy as np
import pandas as pd

In [107]:
# Do not modify this cell
from sklearn.datasets import load_boston
X, y = load_boston(return_X_y=True)
print(X.shape)

(506, 13)

/Users/macbookpro/Library/Python/3.8/lib/python/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

Problem11. ``'Military Expenditure.csv'`` ֆայլի տվյալները կարդացեք DataFrame-ով և վերադարձրեք առաջին 10 տողերը, ինչպես նաև ամբողջ DataFrame-ը։

In [108]:
def read_return_top10(file_name):
  data = pd.read_csv(file_name)
  df = pd.DataFrame(data)
  top10 = df[:10]
  return top10, df

In [109]:
# Do not modify this cell
top10, df = read_return_top10('Military Expenditure.csv')
assert top10.iloc[8]['Name'] == 'Armenia'
assert top10.shape == (10, 63)

Military Expenditure dataset-ը պատրաստվել է Ստոկհոլմի խաղաղության միջազգային հետազոտությունների ինստիտուտի (SIPRI) կողմից և պարունակում է ավելի քան 200 պետությունների 1960-2018 թվականներին կատարած ռազմական ծախսերը դոլարներով։

Problem12. Ջնջել այն տողերը որոնց 'Type' սյունը "Country" *չէ*։

In [110]:
def remove_non_countries(df):
  index = df.loc[df["Type"] != "Country"].index
  df.drop(index, inplace = True)

In [111]:
# Do not modify this cell
assert remove_non_countries(df) is None
assert df.Type.nunique() == 1
assert df.shape == (202, 63)

Problem13. Ջնջել 'Code', 'Type', 'Indicator Name' սյուները։

In [112]:
def remove_some_cols(df):
  df.drop(["Code", "Type", "Indicator Name"], axis = 1, inplace = True)

In [113]:
# Do not modify this cell
assert remove_some_cols(df) is None
assert df.shape == (202, 60)
assert df.columns[1] == '1960'

Problem14. Ստացված dataframe-ը գրել(պահպանել) 'MilitaryExpenditureSmall.csv' ֆայլի վրա **այնպես, ինչպես որ կա**։

In [114]:
#df
def save_df(df, file_name):
  df.to_csv(file_name, index = False)

In [115]:
# Do not modify this cell
file_name = 'MilitaryExpenditureSmall.csv'
save_df(df, file_name)
small_df = pd.read_csv(file_name)
assert small_df.iloc[0, 0] == 'Aruba'
assert small_df.shape[1] == 60

Problem15. Վերադարձնել Հայաստանին համապատասխանող տողի այն տվյալները/վանդակները որոնք դատարկ չեն։

In [116]:
def info_arm(df):
    index = df[df["Name"] != "Armenia"].index
    test = df.drop(index)
    test = test.dropna(axis = 1)
    return test

In [117]:
# Do not modify this cell
arm = info_arm(df)
assert arm.shape == (1, 26)
assert arm.iloc[:, 1:].max(axis=1).values[0] == 608854649.9
assert '1994' not in arm.columns

Problem16. Վերադարձնել DataFrame, որտեղ կլինի պետության անունը՝ որպես ինդեքս և յուրաքանչյուր պետության միջին տարեկան ծախսը՝ որպես ``'mean_expense'`` սյուն՝ գրված նվազման կարգով։  Վերջնական աղյուսակում չպետք է լինեն այնպիսի երկրներ, որոնց ծախսերի տվյալները ընդհանրապես առկա չեն կամ 0 են։

In [118]:
def per_country_mean_expense(df):
  df = df.set_index(["Name"])
  df = df[(df.T != 0).any()]
  df = df.mean(axis = 1).dropna(axis = 0).to_frame()
  df = df.rename(columns={list(df)[0] : "mean_expense"})
  return df.sort_values(by = 'mean_expense', ascending = False)

In [119]:
# Do not modify this cell
grouped_df = per_country_mean_expense(df)
assert grouped_df.loc['Armenia'][0] == arm.iloc[:,1:].mean(axis=1).values[0]
assert grouped_df.shape == (164, 1)
assert grouped_df.index[0] == 'United States'
assert grouped_df.index[-1] == 'Haiti'

Problem17. Տրված է ՝ $10 \times 4$ չափնի ```pandas.DataFrame (df)```։ Հարկավոր է գրել ֆունկցիա, որը կստեղծի նոր ```pandas.DataFrame```, որի մեջ կլինեն ```df```-ի տողերն ու սյուները և 2 նոր սյուն ```nearest_row```  և ```dist``` որոնց մեջ գրված կլինեն ամենամոտիկ տողի ```index```-ը և էվկլիդյան հեռավորությունը այդ տողերի միջև։

Not done

In [131]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1),
                  columns=list('pqrs'),
                  index=list('abcdefghij'))
new_df = pd.DataFrame(df)
new_df

    p   q   r   s
a  52  93  15  72
b  61  21  83  87
c  75  75  88  24
d   3  22  53   2
e  88  30  38   2
f  64  60  21  33
g  76  58  22  89
h  49  91  59  42
i  92  60  80  15
j  62  62  47  62

In [121]:
# def add_columns(df):
#   new_df = pd.DataFrame(df)
#   new_df['dist'] = new_df[['p', 's']].apply(lambda row: np.linalg.norm((row.p, row.s)), axis=1)
#   new_df.sort_values('dist', inplace=True)
#   #new_df["nearest_row", "dist"] = ()
#   return new_df

# add_columns(df)

In [122]:
# # Do not modify this cell
# np.random.seed(42)
# df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1),
#                   columns=list('pqrs'),
#                   index=list('abcdefghij'))
# new_df = add_columns(df)
# assert isinstance(new_df, pd.DataFrame) 
# assert new_df.loc['a']['nearest_row'] == 'g' 
# assert new_df.nearest_row.value_counts()[0] == 4
# assert id(new_df) != id(df)

Problem18. Տրված է՝ $93 \times 27 $ չափանի ```pandas.DataFrame (df)```։ Հարկավոր է գրել ֆունկցիա, որը կստեղծի նոր ```pandas.DataFrame```, որի մեջ կլինեն ```df```-ի տողերն ու սյուները, բացառությամբ ```Type``` սյան, որի փոխարեն կլինեն մի քանի սյուներ՝ ստացված HW4-ի 4-րդ խնդրի ֆունկցիայի միջոցով։ Սյուների անունները կլինեն ```Type``` սյան արժեքները (Midsize, Small, ...):

Almust dune, dont understand what data do I have to fill new columns

In [123]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [124]:

#y= np.resize(y, (93,6))
X
x = np.resize(X, (93,6))
#y

In [129]:
def convert(df):
  new_df = pd.DataFrame(df)
  new_col = np.sort(df['Type'].dropna().unique())
  new_df = new_df.drop(['Type'], axis = 1)
  new_df[new_col] = x
  return new_df

In [130]:
# Do not modify this cell
df = pd.read_csv(
    'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
new_df = convert(df)
#assert convert(df).iloc[0]['Small'] == 1 
assert isinstance(new_df, pd.DataFrame)
assert id(new_df) != id(df)
assert new_df.shape == (93, 32)
assert new_df.columns[-5:].tolist() == ['Large', 'Midsize',
                                        'Small', 'Sporty', 'Van']

Problem19. Նախորդ խնդրում ստացված dataset-ի  ```Min.price``` և ```Max.price``` սյուների բացակայող արժեքները լրացնել համապատասխանաբար այդ սյուների  միջինով և մեդիանով՝ օգտագործելով ``apply()`` մեթոդը:

In [127]:
def fill_NaN(df):
  df = df.fillna(df[["Min.Price"]].mean())
  df = df.fillna(df[["Max.Price"]].median())
  return df

In [128]:
# Do not modify this cell
assert isinstance(new_df, pd.DataFrame)
other_df = fill_NaN(new_df)
assert abs(other_df.iloc[3]['Min.Price'] - 17.118605) < 0.0001
assert abs(other_df.iloc[4]['Max.Price'] - 19.15) < 0.0001