In [1]:
import numpy as np
import pandas as pd

In [2]:
# scikit-learn

# Homework Exercises

Ստորև վանդակն աշխատացնելով ներմուծիր Բոստոն $506\times13$  չափանի տվյալների բազմությունը, որն իր մեջ պարունակում է Բոստոնի 506 թաղամասերի վերաբերյալ տվյալներ՝ 13 բնութագրիչներով։ Այդ բնութագրիչներն են՝

("ԱՆՈՒՆ բացատրություն" ֆորմատով)
1. CRIM per capita crime rate by town
2. ZN proportion of residential land zoned for lots over 25,000 sq.ft.
3. INDUS proportion of non-retail business acres per town
4. CHAS Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
5. NOX nitric oxides concentration (parts per 10 million)
6. RM average number of rooms per dwelling
7. AGE proportion of owner-occupied units built prior to 1940
8. DIS weighted distances to five Boston employment centres
9. RAD index of accessibility to radial highways
10. TAX full-value property-tax rate per $10,000
11. PTRATIO pupil-teacher ratio by town
12. B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
13. LSTAT % lower status of the population


Իսկ *y փոփոխականը* 506 երկարությամբ numpy վեկտոր է, որը իրենից ներկայացնում է համապատասխան թաղամասերի տների մեդիան գինը (չափման միավորը՝ $1000)։

Problem4. Ստեղծեք dataframe X, y  փոփոխականների հիման վրա (Problem 1.-ի նման)։ Բնութագրիչ սյուների անունները սահմանեք ըստ վերը նշված ցանկիժ, իսկ վերջին սյան անունը՝  "MEDV"։

In [3]:
# Do not modify this cell
from sklearn.datasets import load_boston
X, y = load_boston(return_X_y=True)
print(X.shape)

(506, 13)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
def get_data_frame(X, y):
  #Your code here
  columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
  df = pd.DataFrame(X, columns=columns)
  df['MEDV'] = y
  return df

In [5]:
# Do not modify this cell
df = get_data_frame(X,y)

assert isinstance(df, pd.DataFrame)
assert df.shape == (506, 14)
assert df.columns.tolist()[:3] == ['CRIM','ZN','INDUS']
assert df.columns[-1] == 'MEDV'

Problem5. Վերադարձնել 3 "ամենաէժան թաղամասերի" տողերը, որտեղ CRIM-ը մեծ է 0.5֊ից։

In [6]:
def three_less_expensive(df):
    return df.sort_values(by=['MEDV']).loc[df.CRIM > 0.5][:3]

In [7]:
# Do not modify this cell
top3 = three_less_expensive(df)
assert top3.MEDV.mean() == 5.2  
assert top3.INDUS.mean() == 18.1 
assert top3.TAX.mean() == 666.0

Problem6. Վերադարձնել 6 "ամենաթանկ թաղամասերի" տողերը, որոնք գտնվում են Չարլզ գետի ափին։

In [8]:
def three_most_expensive(df):
  # Your code here
  # return df.sort_values(by='MEDV', ascending=False).loc[~df['CHAS'].isna()][:6]
# df[df['CHAS'] == 1]
  return df.sort_values(by='MEDV', ascending=False)[df['CHAS'] == 1][:6]

In [9]:
# Do not modify this cell
top6 = three_most_expensive(df)
assert top6.MEDV.mean() == 50.0
assert top6.TAX.min() == 198.0
assert top6.ZN.max() == 90.0
assert isinstance(top6, pd.DataFrame)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Problem7. Վերադարձնել միջինում 10 ամենաշատ  սենյակներն ունեցող թաղամասերի միջին սենյակների քանակները (``RM``) և տների մեդիան գները։ Արդյունքը պետք է լինի $10 \times 2$ չափանի DataFrame՝ դասավորված ըստ ``RM`` սյան նվազման կարգով։

In [10]:
def ten_most_rooms(df):
  return pd.DataFrame(data = df.sort_values(by='RM', ascending=False)[['RM', 'MEDV']][:10])

In [11]:
# Do not modify this cell
top10 = ten_most_rooms(df)
assert top10.iloc[0].values.tolist() ==  [8.78, 21.9]
assert top10.mean().values.tolist() == [8.4388, 44.83]

Problem8. ``df``-ում ավելացնել նոր տող ըստ տրված 14 երկարությամբ ``x`` վեկտորի։

In [12]:
def add_row(df, x):
  # Your code here
  df.loc[len(df)] = x

In [13]:
# Do not modify this cell
assert len(df) == 506
x = np.array([0.006, 18, 2.31, 0, 0.5, 6.5, 65, 4, 1, 296, 15, 396, 5, 19])
assert add_row(df, x) is None
assert len(df) == 507
assert (df.iloc[-1].values == x).all()

Problem9. ``df``-ից ջնջել առաջին սյունը։

In [14]:
def remove_first_col(df):
  # Your code here
  return df.drop(columns=df.columns[0], axis=1, inplace=True)

In [15]:
# Do not modify this cell
assert df.shape[1] == 14
assert remove_first_col(df) is None
assert df.shape[1] == 13
assert df.columns[0] == 'ZN'
assert 'CRIM' not in df.columns

Problem10. Օգտագործելով ``groupby`` ֆունկցիան գտնել գետի մոտ գտնվող և չգտնվող թաղամասերի բնութագրիչների միջինները։

In [16]:
def group_by_river(df):
  # Your code here
  return df.groupby('CHAS').mean()

In [17]:
# Do not modify this cell
river_df = group_by_river(df)
assert river_df.shape == (2, 12)
assert river_df.index.name == 'CHAS'
# assert river_df.MEDV.values.tolist() == [22.08728813559323, 28.48]

Problem11. ``'Military Expenditure.csv'`` ֆայլի տվյալները կարդացեք DataFrame-ով և վերադարձրեք առաջին 10 տողերը, ինչպես նաև ամբողջ DataFrame-ը։

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
def read_return_top10(file_name):
  df = pd.DataFrame(pd.read_csv(file_name))
  return df[:10], df

In [20]:
# Do not modify this cell
top10, df = read_return_top10('/content/drive/MyDrive/Colab Notebooks/Military Expenditure.csv')
print(top10)
assert top10.iloc[8]['Name'] == 'Armenia'
assert top10.shape == (10, 63)

                   Name Code  ...          2017          2018
0                 Aruba  ABW  ...           NaN           NaN
1           Afghanistan  AFG  ...  1.914071e+08  1.980863e+08
2                Angola  AGO  ...  3.062873e+09  1.983614e+09
3               Albania  ALB  ...  1.443827e+08  1.804887e+08
4               Andorra  AND  ...           NaN           NaN
5            Arab World  ARB  ...  1.190000e+11  1.130000e+11
6  United Arab Emirates  ARE  ...           NaN           NaN
7             Argentina  ARG  ...  5.459644e+09  4.144992e+09
8               Armenia  ARM  ...  4.436104e+08  6.088546e+08
9        American Samoa  ASM  ...           NaN           NaN

[10 rows x 63 columns]

Military Expenditure dataset-ը պատրաստվել է Ստոկհոլմի խաղաղության միջազգային հետազոտությունների ինստիտուտի (SIPRI) կողմից և պարունակում է ավելի քան 200 պետությունների 1960-2018 թվականներին կատարած ռազմական ծախսերը դոլարներով։

Problem12. Ջնջել այն տողերը որոնց 'Type' սյունը "Country" *չէ*։

In [21]:
def remove_non_countries(df):
  # Your code here
  df = df.drop(df.index[df.Type != 'Country'], inplace = True) 
  # df = df[df.Type != 'Country']

In [22]:
# Do not modify this cell
assert remove_non_countries(df) is None
assert df.Type.nunique() == 1
assert df.shape == (202, 63)

Problem13. Ջնջել 'Code', 'Type', 'Indicator Name' սյուները։

In [23]:
def remove_some_cols(df):
  # Your code here
  df.drop(columns=['Code', 'Type', 'Indicator Name'], axis = 1, inplace=True)
  # df = df.drop(columns=['Code', 'Type', 'Indicator Name'], axis = 1)

In [24]:
# Do not modify this cell
assert remove_some_cols(df) is None
assert df.shape == (202, 60)
assert df.columns[1] == '1960'

Problem14. Ստացված dataframe-ը գրել(պահպանել) 'MilitaryExpenditureSmall.csv' ֆայլի վրա **այնպես, ինչպես որ կա**։

In [25]:
def save_df(df, file_name):
  # your code here
  df.to_csv('MilitaryExpenditureSmall.csv', index=False)

In [26]:
# Do not modify this cell
file_name = 'MilitaryExpenditureSmall.csv'
save_df(df, file_name)
small_df = pd.read_csv(file_name)
assert small_df.iloc[0, 0] == 'Aruba'
assert small_df.shape[1] == 60

Problem15. Վերադարձնել Հայաստանին համապատասխանող տողի այն տվյալները/վանդակները որոնք դատարկ չեն։

In [27]:
def info_arm(df):
  # your code here
  df = df[df.Name == 'Armenia']
  columns = df.columns[~df.isnull().any()]
  df = df[columns]
  return df

In [28]:
# Do not modify this cell
arm = info_arm(df)
assert arm.shape == (1, 26)
assert arm.iloc[:, 1:].max(axis=1).values[0] == 608854649.9
assert '1994' not in arm.columns

Problem16. Վերադարձնել DataFrame, որտեղ կլինի պետության անունը՝ որպես ինդեքս և յուրաքանչյուր պետության միջին տարեկան ծախսը՝ որպես ``'mean_expense'`` սյուն՝ գրված նվազման կարգով։  Վերջնական աղյուսակում չպետք է լինեն այնպիսի երկրներ, որոնց ծախսերի տվյալները ընդհանրապես առկա չեն կամ 0 են։

In [29]:
# df
# df.Name

In [30]:
def per_country_mean_expense(df):
  # your code here
  new_df = pd.DataFrame(data=df.mean(axis = 1), columns=['mean_expense'])
  new_df.index = df['Name']
  # new_df.drop(df['Name'].mean() == 0, axis = 1, inplace=True)
  new_df.dropna(inplace=True)
  new_df = new_df.loc[new_df['mean_expense'] != 0]
  new_df.sort_values(by='mean_expense', ascending=False, inplace=True)
  return new_df

In [31]:
# Do not modify this cell
arm = info_arm(df)
grouped_df = per_country_mean_expense(df)
assert grouped_df.loc['Armenia'][0] == arm.iloc[:,1:].mean(axis=1).values[0]
assert grouped_df.shape == (164, 1)
assert grouped_df.index[0] == 'United States'
assert grouped_df.index[-1] == 'Haiti'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

Problem17. Տրված է ՝ $10 \times 4$ չափնի ```pandas.DataFrame (df)```։ Հարկավոր է գրել ֆունկցիա, որը կստեղծի նոր ```pandas.DataFrame```, որի մեջ կլինեն ```df```-ի տողերն ու սյուները և 2 նոր սյուն ```nearest_row```  և ```dist``` որոնց մեջ գրված կլինեն ամենամոտիկ տողի ```index```-ը և էվկլիդյան հեռավորությունը այդ տողերի միջև։

In [32]:
def add_columns(df):
  # Your code here
  # new_df = pd.DataFrame(df, columns=[df.columns, nearest_row, dist])
  new_df = df

SyntaxError: ignored

In [ ]:
# Do not modify this cell
np.random.seed(42)
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1),
                  columns=list('pqrs'),
                  index=list('abcdefghij'))
new_df = add_columns(df)
assert isinstance(new_df, pd.DataFrame) 
assert new_df.loc['a']['nearest_row'] == 'g' 
assert new_df.nearest_row.value_counts()[0] == 4
assert id(new_df) != id(df)

Problem18. Տրված է՝ $93 \times 27 $ չափանի ```pandas.DataFrame (df)```։ Հարկավոր է գրել ֆունկցիա, որը կստեղծի նոր ```pandas.DataFrame```, որի մեջ կլինեն ```df```-ի տողերն ու սյուները, բացառությամբ ```Type``` սյան, որի փոխարեն կլինեն մի քանի սյուներ՝ ստացված HW4-ի 4-րդ խնդրի ֆունկցիայի միջոցով։ Սյուների անունները կլինեն ```Type``` սյան արժեքները (Midsize, Small, ...):

In [ ]:
def convert(df):
  # Your code here
  new_df = df
  new_df.drop(columns=['Type'])

In [ ]:
# Do not modify this cell
df = pd.read_csv(
    'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
new_df = convert(df)
assert convert(df).iloc[0]['Small'] == 1 
assert isinstance(new_df, pd.DataFrame)
assert id(new_df) != id(df)
assert new_df.shape == (93, 32)
assert new_df.columns[-5:].tolist() == ['Large', 'Midsize',
                                        'Small', 'Sporty', 'Van']

Problem19. Նախորդ խնդրում ստացված dataset-ի  ```Min.price``` և ```Max.price``` սյուների բացակայող արժեքները լրացնել համապատասխանաբար այդ սյուների  միջինով և մեդիանով՝ օգտագործելով ``apply()`` մեթոդը:

In [ ]:
def fill_NaN(df):
  # Your code here

In [ ]:
# Do not modify this cell
assert isinstance(new_df, pd.DataFrame)
other_df = fill_NaN(new_df)
assert abs(other_df.iloc[3]['Min.Price'] - 17.118605) < 0.0001
assert abs(other_df.iloc[4]['Max.Price'] - 19.15) < 0.0001